<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :siteName %><br>
    <%= f.text_field :siteName %>
  </div>
  <div class="field">
    <%= f.label :siteDetails %><br>
    <%= f.text_field :siteDetails %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
